mixin fs_switch(name, type, v1, v2, v3, id)
  - var className = "filter-" + type;
  fieldset(class=className)
    legend(class=className+"__title")= name
    input(class=className+"__input" id=id+"_1" type=type name=id)
    label(class=className+"__label" for=id+"_1")= v1
    br
    input(class=className+"__input" id=id+"_2" type=type name=id)
    label(class=className+"__label" for=id+"_2")= v2
    br
    input(class=className+"__input" id=id+"_3" type=type name=id)
    label(class=className+"__label" for=id+"_3")= v3
    br      
.inner-page
  .inner-page__container
    h2.inner-page__title Корзина
    table.cart
      thead
        tr
          th Фото
          th Наименование
          th Цена
          th Кол-во
          th Сумма руб.
      mixin row()
        tr
          td
            img(src="images/product4.jpg")
          td.cart__product-name Длинное название модели
          td 9999
          td
            input(type="text" value="1").cart__count
          td 9999
          td
            button.cart__btn-remove
              .icon-trash
      +row()
      +row()
    .in-total
      span.in-total__text Итого
      span.in-total__val 19 998 руб.
    .reorder
      form.order.reorder__below
        h4.order__title Оформить заказ
        input(type="text" placeholder="ФИО")
        input(type="email" placeholder="Email")
        input(type="tel" placeholder="Телефон")
        textarea(placeholder="Комментарий к заказу")
        input(type="submit" value="Оформить заказ")
      .information.reorder__above
        h4.information__title Информация
        +fs_switch("Способ доставки", "radio", "Курьером на дом", "Почтой России", "Самовывоз", "sw5")
        +fs_switch("Способ оплаты", "radio", "Наличными, при получении заказа", "Банковские карты", "Яндекс.Деньги", "sw6")
        h5.information__subtitle Адрес доставки
        input(type="text" placeholder="Город").information__input
        input(type="text" placeholder="Улица").information__input
        input(type="text" placeholder="Дом").information__input
        input(type="text" placeholder="Квартира").information__input
        a(href="#").information__link
          .icon-medal-red
          | Гарантия
        a(href="#").information__link
          .icon-box-red
          | Доставка и оплата